*   {
    box-sizing: border-box;
    padding: 0px;
}

.box1 {
    background-color: #8F7070;
    height: 120px;
    width: 100%;
    margin-top: 100px;
}

[alt~=Gabriel] {
    height: 120px;
    margin-left: 400px;
    margin-bottom: -50px;
    position: absolute;
}

header {
    width: 100vw;
    height: 100px;
    margin-left: -10px;
}

header nav {
    max-width: 100%;
    margin-left: 880px;
    margin-top: -90px;
}

header nav ul {
    list-style: none;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
    position: absolute;
}

nav ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    padding: 10px;
    margin-left: 60px;
    font-weight: bolder;
    margin-top: 30px;
}

nav ul a:hover {
    background-color: rgb(157, 120, 120);
    border-radius: 5px;
    color: white;
    transition: 0.4s ease-in-out;
}

.box2 {
    background-color: #B09F9F;
    height: 1200px;
    width: 99.2%;
    position: absolute;
}

.box2 h1 {
    font-size: 120px;
    margin-left: 720px;
    margin-top: 100px;
    color: #726767;
    position: absolute;
}

.box2 h2 {
    font-size: 50px;
    margin-top: 400px;
    margin-left: 350px;
}

.box2 h3 {
    font-size: 30px;
    width: 30%;
    margin-left: 215px;
    font-family: monospace;
}

.box2 h4 {
    font-size: 30px;
    width: 30%;
    font-family: monospace;
    margin-left: 215px;
    margin-top: 100px;
}

.box2 h5 {
    font-size: 28px;
    width: 30%;
    font-family: monospace;
    margin-left: 1200px;
    margin-top: -650px;
}

.box2 h6 {
    font-size: 50px;
    margin-left: 1370px;
    margin-top: -1px;
}

.box2 p {
    font-size: 28px;
    width: 30%;
    font-family: monospace;
    margin-left: 1200px;
    font-weight: 900;
    margin-top: -110px;
}

.box2 ul {
    margin-top: -1px;
}

.box2 li {
    font-size: 28px;
    font-family: monospace;
    margin-left: 1240px;
}

[alt~=Odyssey] {
    margin-left: 890px;
    height: 180px;
    margin-top: 400px;
    position: absolute;
}

[alt~=Cal] {
    height: 180px;
    margin-left: 880px;
    margin-top: 600px ;
    position: absolute;
}

[alt~=Theodore] {
    height: 300px;
    margin-left: 860px;
    margin-top: 800px;
    position: absolute;
}

.box3 {
    height: 800px;
    background-color: #B09F9F;
    margin-top: 1200px;
}

.box3 h1 {
    font-size: 60px;
    margin-left: 780px;
    margin-top: -13px;
}

.box3 h2 {
    font-size: 40px;
    margin-left: 215px;
    width: 80%;
    font-family: monospace;
}

hr {
    width: 78%;
    height: 3px;
    margin-top: 100px;
    background-color: black;
    border: solid 1px black;
}

.footer h3 {
    margin-top: 80px;
    width: 17%;
    font-size: 60px;
    margin-left: 220px;
}

.footer ul {
    list-style: none;
    display: flex;
    margin-top: -105px;
    margin-left: 1038px;
    width: 48%;
}

.footer ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    margin-left: 60px;
    font-weight: bolder;
}

.footer ul a:hover {
    background-color: rgb(205, 175, 175);
    border-radius: 5px;
    color: white;
    transition: 0.4s ease-in-out;
}

.footer h4 {
    font-size: 20px;
    margin-left: 900px;
    margin-top: 130px;
}