*   {
    box-sizing: border-box;
    padding: 0px;
}

.box1 {
    background-color: #8F7070;
    height: 120px;
    width: 100%;
    margin-top: 100px;
}

[alt~=Gabriel] {
    height: 120px;
    margin-left: 400px;
    margin-bottom: -50px;
    position: absolute;
}

header {
    width: 100vw;
    height: 100px;
    margin-left: -10px;
}

header nav {
    max-width: 100%;
    margin-left: 880px;
    margin-top: -90px;
}

header nav ul {
    list-style: none;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
    position: absolute;
}

nav ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    padding: 10px;
    margin-left: 60px;
    font-weight: bolder;
    margin-top: 30px;
}

nav ul a:hover {
    background-color: rgb(157, 120, 120);
    border-radius: 5px;
    color: white;
    transition: 0.4s ease-in-out;
}

.box2 {
    background-color: #B09F9F;
    height: 800px;
    width: 100%;
}

.box2 h1 {
    font-size: 120px;
    margin-left: 760px;
    margin-top: 300px;
    color: #ffffff;
    position: absolute;
}

[class~=mySlides] {
    height: 850px;
}

.box4 {
    height: 1070px;
    width: 100%;
    background-color: #B09F9F;
}

.box5 {
    background-color: antiquewhite;
    height: 600px;
    width: 20%;
    margin-left: 80px;
    margin-top: -960px;
    border-radius: 30px;
}

.box5 h1 a {
    text-decoration: none;
    color: white;
}

.box6 {
    background-color: antiquewhite;
    height: 600px;
    width: 20%;
    margin-left: 560px;
    margin-top: -600px;
    border-radius: 30px;
}

.box6 h1 a {
    text-decoration: none;
    color: white;
}

.box7 {
    background-color: antiquewhite;
    height: 600px;
    width: 20%;
    margin-left: 1040px;
    margin-top: -600px;
    border-radius: 30px;
}

.box7 h1 a {
    text-decoration: none;
    color: white;
}

.box8 {
    background-color: antiquewhite;
    height: 600px;
    width: 20%;
    margin-left: 1520px;
    margin-top: -600px;
    border-radius: 30px;
}

.box8 h1 a {
    text-decoration: none;
    color: white;
}

[alt~=Houses] {
    height: 600px;
    border-radius: 30px;
    width: 100%;
    box-shadow: 5px 5px rgb(93, 87, 87);
}

[alt~=Ocean] {
    height: 600px;
    border-radius: 30px;
    width: 100%;
    box-shadow: 5px 5px rgb(93, 87, 87);
}

[alt~=Money] {
    height: 600px;
    border-radius: 30px;
    width: 100%;
    box-shadow: 5px 5px rgb(93, 87, 87);
}

[alt~=Chess] {
    height: 600px;
    border-radius: 30px;
    width: 100%;
    box-shadow: 5px 5px rgb(93, 87, 87);
}

.box5 h1 {
    margin-top: -150px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

.box6 h1 {
    margin-top: -170px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

.box7 h1 {
    margin-top: -150px;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

.box8 h1 {
    margin-top: -150px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

hr {
    width: 78%;
    height: 3px;
    margin-top: 120px;
    background-color: black;
    border: solid 1px black;
}

.footer h1 {
    margin-top: 80px;
    width: 17%;
    font-size: 60px;
    margin-left: 220px;
}

.footer ul {
    list-style: none;
    display: flex;
    margin-top: -105px;
    margin-left: 1038px;
    width: 48%;
}

.footer ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    margin-left: 60px;
    font-weight: bolder;
}

.footer ul a:hover {
    background-color: rgb(205, 175, 175);
    border-radius: 5px;
    color: white;
    transition: 0.4s ease-in-out;
}

.footer h4 {
    font-size: 20px;
    margin-left: 900px;
    margin-top: 80px;
}